MONGODB_URI=mongodb+srv://mandirireminderkcpi_db_user:Babi123@sdbsystem.bpozdkv.mongodb.net/?appName=sdbsystem

# === KONFIGURASI EMAIL GMAIL ===
EMAIL_USER=mandirireminderkcpi@gmail.com
EMAIL_PASS=rlcz xcmh xpup xeew

FRONTEND_USER_URL = https://sdbdigitalform.vercel.app
FRONTEND_ADMIN_URL = https://sdbsadmin.vercel.app
BACKEND_URL = https://be-nasabah.vercel.app

# Optional: Cloudinary
# CLOUDINARY_CLOUD_NAME=
# CLOUDINARY_API_KEY=
# CLOUDINARY_API_SECRET=
